# .NET
bin/
obj/
*.user
*.suo
*.vscode/
*.vs/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# AWS SDK / Credenciais
.aws/
.env

# Build / publish
*.dll
*.exe
*.pdb
*.cache
*.db

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# Logs
*.log
